body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
    background-image: url('resource/image/bg-spike.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center; /* Centre les éléments à la fois horizontalement et verticalement */
    min-height: 100vh;
    margin: 0;
    
}


.container {
    margin-top: 100px;
}

#chrono {
    font-size: 6rem;
    margin: 40px;
}

.controls button {
    font-size: 1.2rem;
    margin: 5px;
    padding: 20px 40px;
    cursor: pointer;
}
#chrono-container p{
    font-family: Digital;
    font-size: 5em;
}
.settings {
    margin-top: 40px;
}


.setting-input{
    height: 50px;
    border-radius: 5px;
    background: none;
    color: white;
    border: none;
    font-size: 1em;
    width: 100%;
}

.setting-input:focus{
    border: none;
}
#status {
    margin-top: 40px;
    font-size: 3rem;
    font-weight: bold;
}
#settings-container {
    margin-top: 20px;
    padding: 20px;
    border-radius: 5px;
    font-size: 2em;
}


label {
    display: block;
    margin: 10px 0;
}
#app{
    width: 500px;
    backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding-bottom: 100px;
    padding-top:80px;
}
#settings{
    top:40px;
    left:40px;
    position: absolute;
    background: none;
    border: none;
}
.icon{
    width: 40px;
    height: auto;
}
.icon-button{
    background: none;
    border:none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px; /* Ajuste selon la taille souhaitée */
    height: 50px;
    border: none;
    background: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    
}
.control{
    display: flex;
    justify-content: center; /* Centre les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement (si nécessaire) */
}
.icon-button:hover{
    background-color: aqua;
}
@font-face {
    font-family: Digital;
    src: url(resource/font/digital-7\ \(mono\).ttf);
  }
  
  @media only screen 
  and (max-device-width: 1000px){
    #app{
        width: 400px;
        backdrop-filter: blur(18px) saturate(180%);
        -webkit-backdrop-filter: blur(18px) saturate(180%);
        background-color: rgba(17, 25, 40, 0.75);
        border-radius: 24px;
        border: 1px solid rgba(255, 255, 255, 0.125);
        padding-bottom: 100px;
        padding-top:80px;
        padding-left: 30px;
        padding-right: 30px;
    } 
  }